<!DOCTYPE html>
<html>
    <head>
        <!--<script language="javascript">-->
            <!--$("#lifePhotoImg").css("display", "");-->
            <!--$("#lifePhotoImg").attr('src', "/static/upload/c634a8d7f9d511e6b597a45e60daf503.jpg");-->
         <!--</script>-->

    </head>
    <body>
        <!--<input type="file" onchange="document.getElementById('img').src=getFullPath(this);" />-->
          <img id="lifePhotoImg" src="httt://localhost:8000/static/upload/c634a8d7f9d511e6b597a45e60daf503.jpg" style="display: block;max-width: 100%;" style="display: none;">
    </body>
</html>